<div style="position: relative; width: 100%; height: auto; min-height: 100vh; margin-bottom: 20px; float: left;">
  <div class="donationsbackground" style="position: absolute;">
  </div>

    <% if @sub_amount == SubscriptionParameter.find_by(active: true).monthly_subscription_amount && current_user.subscribed == false %>
      <% form_title = t(".this_is_a_20_dollar_subscription")  %>
      <% donation_type = "monthly_subscription" %>
      <% subscription_donation_amount = 20 %>
    <% elsif @sub_amount == SubscriptionParameter.find_by(active: true).yearly_subscription_amount && current_user.subscribed == false %>
      <% form_title = t(".this_is_a_200_dollar_subscription")  %>
      <% donation_type = "yearly_subscription" %>
      <% subscription_donation_amount = 200 %>
    <% else %>
      <% form_title = t(".this_is_a_one_time_donation")  %>
      <% donation_type = "one_time" %>
      <% subscription_donation_amount = 0 %>
    <% end %>

    <main>
      <section class="container-lg">
        <!--Example 4-->
        <div class="cell example example4 donations-container" id="example-4" style="background-color: rgba(255, 255, 255, 0.4)">
          <form action="/donations" method="post" id="new_donation">
            <h1 class=" mb-4" style="font-weight: 800; font-size: 30px;"><%= current_user.username %></h1>
            <p class=" mb-4"><%= @sitewide_text_items.find_by(name: "payment page message")[I18n.locale.to_s] %></p>
            <p class=" mb-4"><%= form_title %></p>
            <p class=" mb-4"><%= t(".please_enter_the_donation_amount") %></p>
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="donation[stripe_payment_id]" id="payment">
            <input type="hidden" name="donation[donation_type]" value="<%= donation_type %>" >
            <input type="hidden" name="donation[title]" value="<%= form_title %>">
            <input type="hidden" name="donation[amount]" id="donation_amount">
            <input type="hidden" name="donation[subscription_frequency]" value="<%= @sub_frequency %>">
            <div id="example4-paymentRequest">
              <!--Stripe paymentRequestButton Element inserted here-->
            </div>
            <fieldset style="background: rgba(255,255,255,0.8)">
              <% if @sub_amount == 0 || current_user.subscribed == true %>
                  <!-- -->
                  <div style="display: flex; flex-direction: row; justify-content: center;">
                    <span class="dollar-symbol">$</span>
                    <input type="number" id="donation_input_amount" name="quantity" min="5" max="1000" placeholder="5"
                    style="">
                  </div>
              <% end %>
              <legend class="card-only" data-tid="elements_examples.form.pay_with_card"><%= t(".payments_are_accepted_with") %></legend>
              <legend class="payment-request-available" data-tid="elements_examples.form.enter_card_manually">Or enter card details</legend>
              <div class="container">
                <div id="example4-card"></div>
                <button type="submit" data-tid="elements_examples.form.donate_button"><%= t("donate") %></button>
              </div>
            </fieldset>

            <p class="mb-4"><%= t(".card_payments_are") %></p>
            <p class=""><%= t(".active_subscriptions") %>:
              <% if current_user.subscribed == false %>
                <%= t("none") %>
              <% else %>
                <% subscription_amount = Donation.find_by(donation_type: 'subscription')&.amount %>
                $<%= subscription_amount  %>
                <%= subscription_amount == SubscriptionParameter.find_by(active: true).monthly_subscription_amount ? "/ month" : "/ year" %>
              <% end %>
            </p>
            <p class=""><%= t(".total_contributions_to_date") %> : $<%= current_user.total_donations %></p>

            <div class="error" role="alert">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
              </svg>
              <span class="message"></span></div>
          </form>

          <div class="success">
            <div class="icon">
              <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
              </svg>
            </div>
            <h3 class="title" data-tid="elements_examples.success.title">Payment successful</h3>
            <p class="message"><span data-tid="elements_examples.success.message">Thanks for paying with Stripe.</p>
            <a class="reset" href="#">
              <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path fill="#000000" d="M15,7.05492878 C10.5000495,7.55237307 7,11.3674463 7,16 C7,20.9705627 11.0294373,25 16,25 C20.9705627,25 25,20.9705627 25,16 C25,15.3627484 24.4834055,14.8461538 23.8461538,14.8461538 C23.2089022,14.8461538 22.6923077,15.3627484 22.6923077,16 C22.6923077,19.6960595 19.6960595,22.6923077 16,22.6923077 C12.3039405,22.6923077 9.30769231,19.6960595 9.30769231,16 C9.30769231,12.3039405 12.3039405,9.30769231 16,9.30769231 L16,12.0841673 C16,12.1800431 16.0275652,12.2738974 16.0794108,12.354546 C16.2287368,12.5868311 16.5380938,12.6540826 16.7703788,12.5047565 L22.3457501,8.92058924 L22.3457501,8.92058924 C22.4060014,8.88185624 22.4572275,8.83063012 22.4959605,8.7703788 C22.6452866,8.53809377 22.5780351,8.22873685 22.3457501,8.07941076 L22.3457501,8.07941076 L16.7703788,4.49524351 C16.6897301,4.44339794 16.5958758,4.41583275 16.5,4.41583275 C16.2238576,4.41583275 16,4.63969037 16,4.91583275 L16,7 L15,7 L15,7.05492878 Z M16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,24.836556 24.836556,32 16,32 Z"></path>
              </svg>
            </a>
          </div>

          <div class="caption">
            <span data-tid="elements_examples.caption.no_charge" style="color: #000;">Payments processed with Stripe</span>
          </div>
        </div>
      </section>
    </main>
</div>


<script charset="utf-8">

  var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
  // load the fonts in
  var fonts = [{
    cssSrc: "https://fonts.googleapis.com/css?family=Karla",
  }];
  // styles for the stripe inputs
  var styles = {
    base: {
        color: "#32325D",
        fontWeight: 500,
        fontFamily: "Inter, Open Sans, Segoe UI, sans-serif",
        fontSize: "16px",
        fontSmoothing: "antialiased",

        "::placeholder": {
          color: "#CFD7DF"
        }
      },
      invalid: {
        color: "#E25950"
      },
  }

  var elements = stripe.elements();
  var cardElement = elements.create('card', {
    style: styles,
    // hidePostalCode: true,
    });
  cardElement.mount('#example4-card');

  const form = document.querySelector('#new_donation');

  let donationType = '<%= donation_type %>'
  let donationAmount = 0;

  form.addEventListener('submit', function(e) {

  var formClass = '.example4';// + exampleName;
  var example = document.querySelector(formClass);
  example.classList.add('submitting');

    // Get  donation amount from form or params
    if (donationType == 'one_time') {
      const donationInputAmount = document.querySelector('#donation_input_amount').value;
      donationAmount = donationInputAmount;
    } else {
      donationAmount = '<%= subscription_donation_amount %>';
    }
    e.preventDefault();

    // Step 1: POST request to create payment intent
    fetch('/payment_intents', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        authenticity_token: '<%= form_authenticity_token %>',

        payment_intent: {
          status: "paid",
          donation_type: '<%= donation_type %>',
          amount: donationAmount,
          }
      }),
    })
    .then((response) => response.json())
    .then((paymentIntent) => {
      // Step 2: Create payment method and confirm payment intent.
      stripe.confirmCardPayment(
        paymentIntent.client_secret, {
          payment_method: {
            card: cardElement
          }
        }
      ).then((resp) => {
        if(resp.error) {
          alert(resp.error.message);
        } else {
          // Step 3: Embed payment ID in form
          const paymentIdInput = document.querySelector('#payment');
          paymentIdInput.value = paymentIntent.id;
          // Embed payment amount
          const donationOutputAmount = document.querySelector('#donation_amount');
          donationOutputAmount.value = donationAmount;
          example.classList.remove('submitting');
            example.classList.add('submitted');

          setTimeout(form.submit(), 3500);
        }
      })
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });

</script>
