Message from FundMe Contact Form
===============================================

Message from FundMe Contact Form</h1>
Name: <%= @message_form[:name] %>, Email: <%= @message_form[:email] %></h2>
Message Subject: <%= @message_form[:subject] %></h3>
Message:
<%= @message_form[:message] %>.<br>
Sent at:<%= Time.now %>