<div style="position: relative; width: 100%; height: auto; min-height: 100vh; margin-bottom: 20px; float: left;">
<div class="devisebackground" style="position: absolute;">
</div>

<div style="width: 100%; height: auto; position: relative; padding-top: 5rem;">
  <div class="container px-4 px-lg-5">
    <h2 class="devise-titles"><%= t("forgot_your_password?") %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "form-label" %><br />
        <div class="col-md-6 mb-4">
          <div class="md-form mb-0">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="actions">
          <%= f.label t("send_me_reset_password_instructions"), class: "form-label" %><br />
          <%= f.submit t("send"), class: "btn btn-primary mb-2 fundme-submit" %>
        </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
</div>